input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#324c93;
}

a {
    color:#324c93;
}

.container {
    width: 778px;
    height: 437px;
    margin:0 auto;
    position:relative;
}

.left-container,
.right-container,
.center-container {
    height:437px;
    position:absolute;
    top:0;
    border:1px solid #ffffff;
}

.left-container, .right-container {
    width:250px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;

}

.left-container {
    left:0;
    background-position:center right;
}

.right-container {
    right:0;
    background-position:center left;
}


.center-container {
    width:515px;
    left:0px;
    background-color:#ffffff;
    color:#ccc;
}

.text {
    margin: 7px;
}

.inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}


.infovis {
    /*position:fixed;*/
    width:565px;
    height:437px;
    margin:auto;
    overflow:hidden;
}

.provImage{
    position:relative;
    width: 565px;
    height:435px;
    /*left:0;*/
    margin: auto;
    overflow: hidden;
    top:0;
}

.provText{
    padding: 5px;
    font-size: smaller;
}

button{
    margin: 5px;
    display: block;
}

#right-container {
    font-size: 11px;
    /*padding: 5px;*/
}

#inner-details {
    font-size: 11px;
}

#inner-details ul li {
    list-style: none;
    padding-bottom: 5px;
}

#inner-details ul {
    padding-left: 0;
}

#inner-details h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*TOOLTIPS*/
.tip {
    text-align: left;
    width: auto;
    max-width: 500px;
}

.tip-title {
    font-size: 11px;
    text-align: center;
    margin-bottom: 2px;
}

#infovis {
    background-color: white;
}

.propName {
    display: block;
    font-weight: bold;
    padding: 2px 0 2px 0;
}

.propVal {
    display: block;
    padding: 2px 0 2px 0;
}