<h1>Subsample</h1>
<p>
    This block copies the file into the workflow as a direct copy witjout
    attempting to interpret the contents in any way. It is used to supply
    data to blocks that do not recognise the standard data-wrapper data type
    and need to operate on plain files.
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>imported-file: Contains a reference to the imported file</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Source: Reference to the file to import into the workflow</li>
    </ul>
</p>