<h1>GetStudyProperties</h1>
<p>
    Extracts the additional properties for a study in the form of a properties
    connection. This can then be attached to other blocks to set their properties.
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>properties: properties connection containing the projects additional properties</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>InferStudy: Sets whether or not the block with use the project ID of the workflow invocation to automaticall establish the study context</li>
        <li>Project: Lets the workflow designer explicitly specify a study / project</li>
        <li>FilterProperties: If set, the list of properties extracted by the block must match a wildcard pattern</li>
        <li>PropertyNameWildcard: DOS style wildcard to filter property names</li>
    </ul>
</p>