<div class="span12">
    <p>Developing innovative products and services requires collaboration between companies, customers and partners.
        This is especially important in the scientific domain, where increasing
        technical complexity makes collaboration challenging.
    </p>
    <p>
        e-Science Central has developed a collaborative platform to meet these needs in a cost-effective way. Our
        cloud-based services combine powerful data management and analysis, workflow process
        definition and automation, and the ability to share and collaborate in a secure, reliable and scalable
        environment.
    </p>
</div>