/***** FONTS *****/

@font-face {
    font-family: 'Museo-300';
    src:url('fonts/museo-300.eot');
    src:url('fonts/museo-300.eot?#iefix') format('embedded-opentype'),
    url('fonts/museo-300.svg#museo-300') format('svg'),
    url('fonts/museo-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-500';
    src:url('fonts/museo-500.eot');
    src:url('fonts/museo-500.eot?#iefix') format('embedded-opentype'),
    url('fonts/museo-500.svg#museo-500') format('svg'),
    url('fonts/museo-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-700';
    src:url('fonts/museo-700.eot');
    src:url('fonts/museo-700.eot?#iefix') format('embedded-opentype'),
    url('fonts/museo-700.svg#museo-700') format('svg'),
    url('fonts/museo-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/***** FRONT PAGE *****/

a:hover
{
    color:#FF9933;
}

#splash-logo
{
    width:480px;
    height:300px;
    background:url('../imgages/splash.png') no-repeat center right;
}

#toolbar
{
    background-color:#333333;
    color:#AAAAAA;
}

#toolbar #logoutButton
{
    border-color:#ff9933;
}

#toolbar #logoutButton:hover
{
    color:#000000;
    background: #ff9933; /* Old browsers */
}

#tagline
{
    display:none;
}