<h1>Extract Numerical Data</h1>
<p>
    This block separates the numerical columns of data in the input
    data set from the non-numerical columns. Double and Integer column
    types will be gathered into the data contained on the "numerical-data"
    output connection, whilst all other columns will be gathered into
    the data contained on the "non-numerical-data" output.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Mixed format data that will be separated into numerical
        and non-numerical columns</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>numerical-data: All of the numerical columns from the input-data set</li>
        <li>non-numerical-data: All of the remaining columns from the input-data set</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    This block has no additional properties
</p>