<h1>UploadToScanner</h1>
<p>
    This block uploads a set of files into the cloud storage account associated
    with a study scanner. Data can be uploaded to Azure or Amazon S3, the credentials 
    used are those specified in the scanner object being used.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>scanner: A filesystem scanner object obtained from a GetStudyScanner block or similar</li>
        <li>upload-files: A list of files to upload to the cloud storage provider</li>
    </ul>
</p>

<h2>Properties</h2>
<p>
    <ul>
        <li>ContainerSuffix: Text to be appended to the container name provided by the scanner</li>
    </ul>
</p>