<h1>Workflow Per File Reference and Property Set</h1>
<p>Executes a workflow instance for every input file provided and sets block properties according to data provided through the property-data input port.
The number of input files should be equal to the number of rows in the property data as each row of data includes triplets in the form like <code>block.property=value</code>.</p>

<p>Depending on the value of property 'DataStructure', the property data should be formatted as follows:</p>
<dl>
    <dt>ONE_COLUMN_MODE</dt>
        <dd>Each column refers to a single block property and must have form: &lt;BlockName&gt;.&lt;PropertyName&gt;=&lt;PropertyValue&gt;</dd>
    <dt>TWO_COLUMN_MODE</dt>
        <dd>Two colums are used to set a single block property. The first column must have form: &lt;BlockName&gt;.&lt;PropertyName&gt;, whereas the second contains the property value.</dd>
    <dt>THREE_COLUMN_MODE</dt><dd>
        <dd>Three columns are used to set a single block property. The first denotes the block name, the second property name and the third property value.</dd> 
</dl>

<h2>Inputs</h2>
<p>
    <ul>
        <li>List block inputs here</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>List block outputs here</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>List block properties here</li>
    </ul>
</p>