<h1>Get Reference Info</h1>
<p>Downloads basic information about the referenced documents. Use the set of provided <code>Get...</code> flags to select which information should be produced.</p>
<h2>Inputs</h2>
<p>
    <dl>
    	<dt>file-references</dt>
    		<dd>A list of references to documents that will be described.</dd>
    </dl>
</p>

<h2>Outputs</h2>
<p>
    <dl>
    	<dt>file-info</dt>
    		<dd>A table with basic information about file references. 
        	Columns describe types of information requested with the <code>Get...</code> flags, like <code>Get File Name</code>.
        	Rows refer to the references provided.</dd>
    </dl>
</p>

<h2>Properties</h2>
<p>
    <dl>
        <!-- dt>Fail If Not File Reference</dt>
        	<dd>Decide whether to ignore references other than files (document records). 
        	If this flag is set, the block will report error when a non-file reference is encountered.</dd-->
    </dl>
</p>