.palette {

  font-size: 12px;
  height: 400px;
  z-index: 0;
}

.menuWrapper {
  margin: 0 0 10px 0;
}

.palette div {
  padding: 0;
  margin: 0;
}

.palette li {
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  color: #333333;
  list-style: none;
  cursor: move;
  /*width: 150px;*/
  height: 20px;
  overflow: hidden;
}

.palette h3 {
  font-size: 14px;
  margin: 0px;
  padding: 0.2em;
  color: #333333;
  cursor: pointer;
}

.palette h3 a {
  padding-left: 25px;
  height: 12px;
  overflow: hidden;
  font-size: 12px;
}

.palette ul {
  padding: 0;
  margin: 0;
}

.palette .selected {
  background: orange;
}

html {
  font-family: helvetica, sans-serif;
}

.scroll-pane {
  width: 400px;
  height: 250px;
  overflow: auto;
  float: left;
}

/*JScrollPane CSS*/
.jScrollPaneContainer {
  position: relative;
  overflow: hidden;
  padding-right: 0;

}

.jScrollPaneTrack {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
}

.jScrollPaneDrag {
  position: absolute;
  background: #CCC;
  cursor: pointer;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.scroll-pane {
  padding: 0;
}

.scroll-pane p {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #232323;
  padding: 12px;
  color: #CCC;
  font-size: 14px;
  line-height: 16px;
}

.left .jScrollPaneTrack {
  left: 0;
  right: auto;
}

.left a.jScrollArrowUp {
  left: 0;
  right: auto;
}

.left a.jScrollArrowDown {
  left: 0;
  right: auto;
}

.smallertext {
  font-size: 75.0%;
}

#toolbar {
  padding-left: 0px;
  padding-right: 0px;
}

.ui-combobox {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 200px;
}

.ui-combobox .ui-combobox-toggleText {
  height: 19px;
  overflow: hidden;
}

.ui-combobox li {
  margin: 0px;
  padding: 1px 1px 1px 1px;
  position: relative;
  cursor: pointer;
}

.ui-combobox li a {
  padding: 0px;
  margin: 0px;
  display: block;
  text-decoration: none;
  width: 90%;
}

.ui-combobox li .ui-icon {
  padding: 0px;
  margin: -20px 0px 0px 0px;
  width: 17px;
  height: 17px;
  float: right;
}

.ui-combobox-list {
  border: transparent 1px solid !important;
  position: absolute;
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  display: none;
  background: none transparent scroll repeat 0% 0%;
  float: left;
  overflow: auto;
  left: -1px;
}

.ui-dialog td {
  padding-top: 5px;
}

.invocation-save-debug-history {
  font-size: 12px;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(images/disk.png);
  background-repeat: no-repeat;
}

.invocation-view-debug-history {
  font-size: 12px;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(images/script.png);
  background-repeat: no-repeat;
}

.debug-toolbar {
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 1px;
  display: block;
  background: #E6E6E6;
  border-color: gray;
}

.property-info {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  cursor: help;
  background-image: url(images/help.png);
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;
}

.property-view {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(images/magnifier.png);
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;
}

.property-input {
  border-style: ridge;
  width:300px;
}



.invocation-workflow {
    list-style-image: url(images/folder_go.png);
}

.invocation-back {
    list-style-image: url(images/arrow_left.png);
}

.invocation {
     font-size: 12px;
     margin-left: 30px;
     cursor: pointer;
     text-decoration: underline;
     white-space: nowrap;
 }

.invocation-file {
    list-style-image: url(images/disk.png);
}

.invocation-folder {
    list-style-image: url(images/folder.png);
}

.helppanel h1 {
  font-size: 16px;
}

.helppanel h2 {
  font-size: 14px;
}

.consolestandard {
    height: 270px;
    margin-bottom: 0px; 
    margin-top: 5px; 
    overflow:auto;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgrey; 
    background: white;
    color: black;
}

.consolelive {
    height: 270px;
    margin-bottom: 0px; 
    margin-top: 5px; 
    overflow:auto;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgrey; 
    background: black;
    color: white;    
}

.lockDialogDiv {
    float: right;
    width: 200px;
    margin-top: 50px;
}

.lockLi {
    margin-left: 30px;
    line-height: 25px;
}

.lockTotalText {
    list-style-image: url(images/sum.png);
}

.lockWaitingText {
    list-style-image: url(images/hourglass.png);
}

.lockRunningText {
    list-style-image: url(images/cog.png);
}

.lockFailedText {
    list-style-image: url(images/cross.png);
}

.lockSucceededText {
    list-style-image: url(images/tick.png);
}

.lockChart {
    width: 300px;
    height: 300px;
}