<h1>Chunker</h1>
<p>
    This block processes an input text file and breaks it down into a number of 
    smaller chunks. Each of these chunks is saved as a file in the workflow invocation 
    directory and can be manipulated by downstream blocks. Chunks file names can
    be configured, and by default are:
    
    chunk00001.csv
    chunk00001.csv
    
    etc
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Raw text data file that will be broken into chunks</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>file-chunks: A collection of file chunks that have been extracted from the input data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>StartRow: The row number of the input file at which to start processing chunks. This is to allow for any headers to be removed</li>
        <li>ChunkSize: Number of rows to aim to put into each chunk</li>
        <li>BaseChunkName: Beginning part of the filename for the individual chunks</li>
        <li>ChunkFileExtension: Extension to put on the end of each chunk of data</li>
        <li>AllowShortChunks: If the input data does not contain an exact number of chunks, the remaining data will be placed into a short chunk if this flag is set</li>
    </ul>
</p>