<h1>ID Match</h1>
<p>
    This block joins two sets of data together based upon a common set of row IDs. There
    are two inputs to this block, a "library-data" input and an "input-data" input. Of these,
    the "input-data" input is a streaming connection, whilst the "library-data" input is
    a non-streaming connection. When the block executes, it first loads all of the "library-data" 
    into memory. This data is then used as a lookup table which is matched to each row in the
    "input-data" connection. 
</p>
<p>
    When a row of "input-data" is encountererd, the value of the ID column (as specifed in the block
    properties) is used to try and find a corresponding row in the data contained in the "library-data"
    connection. If there is a matching row a new row containing the original row and a copy of
    the corresponding row in the "library-data" set.
</p>
<p>
    There are block properties that specify which of the columns in both the "input-data" and 
    "library-data" input data sets contain the columns that contain the common IDs (LibrayIDColumn and
    InputIDColumn). These are specified using a column name or column index in the form #index where 
    #0 refers to the first column index. If the PadMissing property is set, all the rows contained
    in "input-data" will be present on the block output, but any rows that do not have a matching
    row in the "library-data" connection will be padded with Missing Values.
<h2>Inputs</h2>
<p>
    <ul>
        <li>library-data: This contains the reference data set that will be matched against rows in
        the input-data connection</li>
        <li>input-data: This input contains the data that will have matching rows from the library-data
        appended to it</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>matched-data: Contains the data from input-data cross referenced with matching rows from library-data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>LibraryIDColumn: Column in the library-data input that contains ID values</li>
        <li>InputIDColumn: Column in the input-data input that contains ID values</li>
        <li>PadMissing: If set to true, values in the input-data set that do not have a match in the library-data set
        will be padded with missing values</li>
    </ul>
</p>