<h1>Unscale Data</h1>
<p>
    This block reverses the scaling process
    for data that has been scaled using the Scale Data block. This block takes a previously
    calculated set of scaling-parameters and uses them to unscale the data contained in the
    input-data connection.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Scaled data to be unscaled</li>
        <li>scaling-parameters: Scaling parameters to use to unscale the input-data</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>unscaled-data: Unscaled copy of the input data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    This block has no additional properties
</p>