<h1>GetDatasetItemByName</h1>
<p>
    This block outputs a reference to a Dataset item. It works by searching
    the Datasets owned by the user running the workflow for a named Dataset
    and then looks for the named item within that dataset.
</p>
<h2>Outputs</h2>
<p>
    <ul>
        <li>dataset-item: Reference to an item within a dataset</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>DatasetName: Name of the dataset to search for</li>
        <li>ItemName: Name of the single item within the dataset</li>
    </ul>
</p>