/* Extra Fonts */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.svg#icomoon') format('svg'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'the_great_escape';
    src: url('fonts/thegreatescape-webfont.eot');
    src: url('fonts/thegreatescape-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/thegreatescape-webfont.woff') format('woff'),
    url('fonts/thegreatescape-webfont.ttf') format('truetype'),
    url('fonts/thegreatescape-webfont.svg#the_great_escaperegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_great_escape_bold';
    src: url('fonts/thegreatescapebold-webfont.eot');
    src: url('fonts/thegreatescapebold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/thegreatescapebold-webfont.woff') format('woff'),
    url('fonts/thegreatescapebold-webfont.ttf') format('truetype'),
    url('fonts/thegreatescapebold-webfont.svg#the_great_escaperegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* Global Styles */
html,body{height:100%;}

#wrapper{min-height:100%;height:auto !important;height:100%;margin:0 auto -185px;padding-top:55px;}
#push,#footer{height:185px;padding:25px 0 15px 0;margin:25px 0 0 0;}
#footer{background-color:#2B2B2B;color:#ededed;box-shadow: inset 0 25px 20px -20px rgba(0,0,0,1);-moz-box-shadow: inset 0 25px 20px -20px rgba(0,0,0,1);-webkit-box-shadow: inset 0 25px 20px -20px rgba(0,0,0,1);}
body{background:#FAFAFA;}
button, a{cursor:pointer;outline:0;color:inherit;transition:color 0.3s linear;-moz-transition:color 0.3s linear;-o-transition:color 0.3s linear;-webkit-transition:color 0.3s linear;}
a:hover{color:#3869A5;text-decoration:none;}
ul .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}
#searchbutton i{margin-right:5px;}
.pagination {text-align:center;}
.table td.center{text-align:center;}
.modal form{margin:0;}

.smallHr {
    margin: 0px;
}

.higherButton {
    position: relative;
    margin-left:5px;
    top: -5px;
}

.inlineButton {
    display: inline; 
    margin-left: 10px;
}


/* Sidebar Menu */

.sidebar-menu li h4{font-weight:normal;line-height:24px;}
.sidebar-menu li h4.disabled{opacity: 0.6;}
.sidebar-menu li h4 a{cursor:pointer;}
.sidebar-menu li ul{padding-left: 15px}
.sidebar-menu .sidebar-menu{ margin-left:20px;}
.sidebar-menu .sidebar-menu .sidebar-menu h6{font-weight:normal;}
.sidebar-menu li i{margin-right: 10px;}

/* Footer Styles */

#footer .copyright{text-align:center;line-height:45px;margin:0;}
#footer #partners{width:661px;height:80px;margin:0px auto;}
#footer #partners .partner-logo{float:left;margin:10px;}
#footer #partners .partner-logo img{height:40px;}

/* Toolbar Styles */

#toolbar{height:40px;background-color:#3869A5;position:fixed;left:0;right:0;z-index:100;}

#toolbar #toolbar-menu{float:left;margin:0;}
#toolbar li{line-height:40px;padding:0 10px 0 0;}
#toolbar li a{color:#FCFCFC;}
#toolbar li span{font-size:20px;font-style:normal;color:#FCFCFC;}
#toolbar li a:hover, #toolbar li span:hover{text-decoration:none;cursor:pointer;}

#toolbar #toolbar-search{margin:5px 10px;padding-left:5px;float:left;}
#toolbar #toolbar-search .input-append{margin:0;}
#toolbar #toolbar-search .input-append .btn{padding:4px 8px;}
#toolbar #toolbar-search .input-append .btn .icon-cog{margin-top: 3px;}
#toolbar #toolbar-search input[type="text"]{}

#toolbar #project-selection{float:left;margin:5px;}
#toolbar #project-selection label{color:#FCFCFC;width:120px;}
#toolbar #project-selection select{margin-left:5px;}

#toolbar #logoutBox{float:right;}
#toolbar form#logoutForm{float:right;margin:0px;}
#toolbar span#welcome{float:right;color:#FCFCFC;line-height:40px;}
#toolbar #logoutButton{height:40px;margin-left:10px;background:transparent;color:#FCFCFC;border-width:0px 1px;border-style:solid;border-color:#608fc9;}
#toolbar #logoutButton:hover{
    background: #3869a5; /* Old browsers */
    background: -moz-linear-gradient(top,  #3869a5 0%, #608fc9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3869a5), color-stop(100%,#608fc9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3869a5 0%,#608fc9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3869a5 0%,#608fc9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3869a5 0%,#608fc9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3869a5 0%,#608fc9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3869a5', endColorstr='#608fc9',GradientType=0 ); /* IE6-9 */

}

/* Logo */

#logo{margin:0;}
#tagline{font-family:"helvetica neue";float:right;color:#767676;margin:0;font-weight:300;}

/* Navigation Menu */

#currentProject{width:395px;float:right;}
#currentProject form{margin:0;float:left;width:345px;margin:4px 0;}
#currentProject span.icomoon-briefcase{float:left;font-size:30px;line-height:50px;display:block;padding:4px 12px 4px 0;border-right:1px solid #CCCCCC;}
#currentProject .dropdown-toggle{height:50px;border:none;background:none;box-shadow:none;}
#currentProject .dropdown-toggle .filter-option{top:5px;}
#currentProject .bootstrap-select.btn-group .dropdown-toggle .filter-option,
#currentProject .bootstrap-select.btn-group .dropdown-menu li span.text{font-size:17.5px;}
#currentProject .bootstrap-select.btn-group .dropdown-toggle .filter-option small,
#currentProject .bootstrap-select.btn-group .dropdown-menu li span.text small{display:none;}
#currentProject .bootstrap-select.btn-group .dropdown-toggle .filter-option small:first-of-type,
#currentProject .bootstrap-select.btn-group .dropdown-menu li span.text small:first-of-type{display:inline;font-size:12.5px;}
#currentProject .bootstrap-select.btn-group .dropdown-toggle .filter-option small:before,
#currentProject .bootstrap-select.btn-group .dropdown-menu li span.text small:before{content:"\A";white-space:pre;}
#currentProject .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{margin-top:-8.5px;}

ul#navigation{text-transform:uppercase;float:right;margin:10px 0 0 25px;}
ul#navigation li{float:right;display:inline;margin:0 0 0 28px;text-align:center;}
ul#navigation li a{display:block;padding:0;text-decoration:none;color:#464646;font-size:14px;font-weight:bold}
ul#navigation li a span.subtitle{font-weight:normal;font-size:11px;color:#999999 !important;line-height:16px;text-transform:none;text-shadow:none;}

/* Dashboard */

#dashboardHeader{text-align:center;margin:20px 0;}
#dashboardHeader #refreshInfo{cursor:pointer;color:#AAAAAA}
#dashboardHeader a{float:right;line-height:1;}

#dashboardContainer .panel-heading button{float:right;}

#dashboardInfo ul li{line-height:35px;}
#dashboardInfo ul li span{margin-right:5px;}
#dashboardQuota .pieChart{width:300px;height:200px;}

#widget-types .dashboard-type{transition:color 0.3s linear;-moz-transition:color 0.3s linear;-o-transition:color 0.3s linear;-webkit-transition:color 0.3s linear;}
#widget-types .dashboard-type i{margin-right:5px;}
#widget-types .dashboard-type:hover{color:#3869A5;cursor:pointer;}

/* Data */

/* Workflows */

#workflow-list li{margin-bottom:20px;}
#workflow-list li a.wf-thumbnail{display:block;float:left;margin:0 20px 20px 0;}
#workflow-list li a.wf-thumbnail img{width:250px;height:150px;}
#workflow-list li .wf-description{height:50px;}
#workflow-list li ul.inline li{padding:0 10px 0 0;}

.invocationsIncreased, .invocationsDecreased{padding: 5px;border-style: solid;border-width: 1px;background-color: darkgreen;color: white;border-color: black;}
.invocationsDecreased{background-color:darkred;}

/* People */

#people-list li{margin-bottom:10px;}
#people-list li .profile-picture{float:left;width:120px;margin:0 15px 15px 0;}
#people-list li .profile-picture img{margin:0 10px;}
#people-list li .profile-picture h6{text-align:center;}
#people-list li .user-bio{height:90px;width:75%;padding-bottom:10px;overflow:hidden;border-bottom:1px solid #EDEDED;}
#people-list li .user-bio h4{margin: 5px 0;}

.profileHeader #profile-bio{clear:both;}
.profileHeaderImg{float:left;margin:0 25px 25px 0;}

#user-finder{width:70%;margin-left:-35%;}
#user-finder .user-list{width:39%;border-right:1px solid #eeeeee;float:left;}
#user-finder .user-list li:hover{cursor:pointer;}
#user-finder .user-list li.selected{background-color:#eeeeee;}

#user-finder .user-description{width:55%;padding-left:5%;float:left;}
#user-finder .user-description img{float:left;margin-right:20px;}
#user-finder-list li img{float:left;width:50px;height:50px;margin-right:15px;}
#user-finder-list li h4{line-height:24px;font-weight:normal}

#fileUpload img{margin:0 auto;}

/* Groups */

#group-list li{margin-bottom:10px;}
#group-list li .group-picture{float:left;width:120px;margin:0 15px 15px 0;}
#group-list li .group-picture img{margin:0 10px;}
#group-list li .group-picture h6{text-align:center;}
#group-list li .group-bio{height:90px;width:75%;padding-bottom:10px;overflow:hidden;border-bottom:1px solid #EDEDED;}

#group-members li{margin-bottom:10px;}
#group-members li .profile-picture{float:left;width:120px;margin:0 15px 15px 0;}
#group-members li .profile-picture img{margin:0 10px;}
#group-members li .profile-picture h6{text-align:center;}
#group-members li .user-bio{height:90px;width:75%;padding-bottom:10px;overflow:hidden;border-bottom:1px solid #EDEDED;}


/* Settings */

#password-reset{margin:25px 0;}
#admin-stats h3{margin:25px 0;}
#admin-stats h3 span{margin-right:10px;}

#admin-users form{margin:20px 0;}
#admin-users form #searchbutton .btn i{margin-right:5px;}
#admin-users .user-profile{margin-bottom:20px;}
.account-locked{background-color: #dbc59e;}
#admin-users .user-profile img{float:left;margin-right:15px;}
#admin-users .user-profile ul.inline li{padding:0 10px 0 0;}
#admin-users .user-profile ul.inline li:hover{cursor:pointer;}

/* Datasets */
/*
#dataset-list li{margin-bottom:20px;}
#dataset-list li .dataset-description{height:20px;width:75%;padding-bottom:10px;overflow:hidden;border-bottom:1px solid #EDEDED;}
#dataset-list li .dataset-picture{float:left;width:120px;margin:0 15px 15px 0;}
#dataset-list li .dataset-picture img{margin:4px 10px;}
#dataset-list li .dataset-picture h6{text-align:center;}
#dataset-list li ul.inline li{padding:0 10px 0 0;}
*/

/* Generic lists */
#generic-list li{margin-bottom:20px;}
#generic-list li .generic-description{height:20px;width:75%;padding-bottom:10px;overflow:hidden;border-bottom:1px solid #EDEDED;}
#generic-list li .generic-picture{float:left;width:120px;margin:0 15px 15px 0;}
#generic-list li .generic-picture img{margin:4px 10px;}
#generic-list li .generic-picture h6{text-align:center;}
#generic-list li ul.inline li{padding:0 10px 0 0;}

/* Messages */

#createMessageForm textarea{width:100%;height:400px;}
#messageList .accordion-heading .accordion-toggle{padding:10px;}
#messageList .accordion-heading .accordion-toggle h6{margin:0;line-height:25px;}
.accordion-heading img{height:25px;width:25px;margin-right:10px;}

#thread-reply .accordion-inner{padding:0;}
#thread-reply .accordion-inner #sendMessageButton{margin:10px;}
#editor_tbl.mceLayout{width:100% !important;}

/* Studies */

#studies .study-overview h3{margin-top:0px;}
#studies .study-overview{border-right:1px solid #ccc}
#studies li{margin-bottom:20px;}
#studies li a h4{margin:0;padding:5px 2px;}
#studies li a span.owner{width:100%;display:block;}
#studies li p{font-size: 16px;line-height: 28px;}
#studies li span.label{vertical-align: middle}

#participants td.details{padding-left:40px;}

.studysearchtext{top: -5px;}
#searchbutton{margin-left: -3px;}

.tt-query {-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.tt-hint {color: #999;opacity: 0 !important;}
.tt-dropdown-menu {width: 422px;margin-top: -5px;padding: 8px 0;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, 0.2);-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);box-shadow: 0 5px 10px rgba(0,0,0,.2);}
.tt-suggestion {padding: 3px 20px;font-size: 18px;line-height: 24px;}
.tt-suggestion.tt-cursor {color: #fff;background-color: #0097cf;}
.tt-suggestion p {margin: 0;}

#structure-upload ol li{margin-bottom:20px;opacity:0.6;filter:alpha(opacity=60);}
#structure-upload ol li.current-stage{margin-bottom:20px;opacity:1;filter:alpha(opacity=100);}
#structure-upload ol li{margin-bottom:30px;}
#structure-upload ol li label{margin-bottom:10px;}
#structure-upload ol li .help-block{font-style:italic;}

#structure-upload .fileupload .btn{float:left;margin-right:10px;}
#structure-upload .fileupload .fileupload-preview{margin:0;line-height:31px;}

#structure-upload .upload-stage{text-align:center;height:140px;}
#structure-upload .upload-stage .stage-preview{height:110px;}
#structure-upload .upload-stage .stage-preview h2{margin-top:0;}

#study #studyDescription{width:95%;height:215px}
#study #edit-study .additional-properties input{margin-bottom:5px;}
#study #uploads ul{margin:10px 20px 20px;}
#study #uploads li{margin-bottom:10px;}
#study #uploads i{font-size:10px;margin:5px;}
#study #admins li, #study #members li{position: relative;}
#study #admins li span, #study #members li span{position:absolute;left:40px;top:40px;font-size:40px;color:#efefef;transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;-webkit-transition:opacity 0.3s linear;opacity:0.4;filter:alpha(opacity=40);}
#study #admins li a h6, #study #members li a h6{text-align:center}
#study #admins li.add-person, #study #members li.add-person{transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;-webkit-transition:opacity 0.3s linear;opacity:0.4;filter:alpha(opacity=40);}
#study #admins li:hover span, #study #members li:hover span, #study #members li.add-person:hover#admins li.add-person:hover, #study #members li.add-person:hover{opacity:1.0;filter:alpha(opacity=100);}

#participants .phase-tabs li span{display:inline-block;padding: 8px 12px;font-weight:bold;}
#participants .phase-tabs li .phase-menu{display: none;}
#participants .phase-tabs li.active .phase-menu{display:inline-block;margin:0 0 0 10px;}
#participants .phase-tabs li .phase-menu i:hover{cursor:pointer;}
#participants .dataTables_filter label{float:right;}
#participants .dataTables_wrapper tr:hover{background-color:rgba(96,143,201,0.2);}
#participants .dataTables_wrapper tr:hover td.details{background-color:#fafafa;}
#participants .dataTables_wrapper tr.active, #participants .dataTables_wrapper tr.active:hover{background-color:#608fc9;color:#FCFCFC;}
#participants .dataTables_wrapper .dataTables_paginate{margin:0;float:right;}
#participants .dataTables_wrapper i:hover{cursor:pointer;}

.action-menu{margin-bottom:25px;}

#additional-properties .no-properties{display: none;}

#sensor-modal-errors {padding: 0 15px;}

#list-logger-configurations tbody tr:hover, #list-logger-sensors tbody tr:hover {cursor: pointer; background-color: #efefef}

#logger-deployment .modal-body{height:400px}

#logger-deployment #types li{padding:5px 15px;background-color:rgba(96,143,201,0);transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;-webkit-transition:background-color 0.3s linear;}
#logger-deployment #types li:hover, #logger-deployment #types li.selected{background-color:rgba(96,143,201,1);color:#FAFAFA;}

#logger-deployment #loggers .dataTables_paginate{border-left:1px solid #DDDDDD;float:left;}
#logger-deployment #loggers .dataTables_paginate .prev,
#logger-deployment #loggers .dataTables_paginate .next{display:none;}

#loggers-upload ol li{margin-bottom:20px;opacity:0.6;filter:alpha(opacity=60);}
#loggers-upload ol li.current-stage{margin-bottom:20px;opacity:1;filter:alpha(opacity=100);}
#loggers-upload ol li{margin-bottom:30px;}
#loggers-upload ol li label{margin-bottom:10px;}
#loggers-upload ol li .help-block{font-style:italic;}

#loggers-upload .fileupload .btn{float:left;margin-right:10px;}
#loggers-upload .fileupload .fileupload-preview{margin:0;line-height:31px;}

#loggers-upload .upload-stage{text-align:center;height:140px;}
#loggers-upload .upload-stage .stage-preview{height:110px;}
#loggers-upload .upload-stage .stage-preview h2{margin-top:0;}

#logger-deployment .row-fluid{margin-bottom:25px;opacity:0.6;}
#logger-deployment .row-fluid.active-stage{opacity:1;}
#logger-deployment .span3{border-right:1px solid #cccccc;}
#logger-deployment .span3 h3{margin-top:0;}
#logger-deployment .span3 h6{margin-bottom:0;}
#logger-deployment .dropdown-toggle{height:50px;border:none;background:none;box-shadow:none;}
#logger-deployment .dropdown-toggle .filter-option{top:5px;}
#logger-deployment .bootstrap-select.btn-group{margin-top:10px;}
#logger-deployment .bootstrap-select.btn-group .dropdown-menu li:first-of-type{display: none;}
#logger-deployment .bootstrap-select.btn-group .dropdown-toggle .filter-option,
#logger-deployment .bootstrap-select.btn-group .dropdown-menu li span.text{font-size:17.5px;}
#logger-deployment .bootstrap-select.btn-group .dropdown-toggle .filter-option small,
#logger-deployment .bootstrap-select.btn-group .dropdown-menu li span.text small{display:none;}
#logger-deployment .bootstrap-select.btn-group .dropdown-toggle .filter-option small:first-of-type,
#logger-deployment .bootstrap-select.btn-group .dropdown-menu li span.text small:first-of-type{display:inline;font-size:12.5px;}
#logger-deployment .bootstrap-select.btn-group .dropdown-toggle .filter-option small:before,
#logger-deployment .bootstrap-select.btn-group .dropdown-menu li span.text small:before{content:"\A";white-space:pre;}
#logger-deployment .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{margin-top:-8.5px;}

#logger-deployment .form-horizontal .control-label{width:75px;}
#logger-deployment .form-horizontal .control-group{margin-bottom:10px;}
#logger-deployment .form-horizontal .controls{margin-left:95px;}

#logger-deployment #configurations .configuration{padding:5px;transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;-webkit-transition:opacity 0.3s linear;opacity:0.6;filter:alpha(opacity=60);}
#logger-deployment #configurations .configuration:hover{opacity:1.0;filter:alpha(opacity=100);}
#logger-deployment #configurations .configuration h6{margin:0;}
#logger-deployment #configurations .configuration span.icomoon-checkmark{display:none;padding-left:5px;}
#logger-deployment #configurations .selected{opacity:1.0;filter:alpha(opacity=100);background-color:#608fc9;color:#FCFCFC;}
#logger-deployment #configurations .selected span.icomoon-checkmark{display:inline;}

#all-upload-users tr:hover{cursor:pointer;}

#noFileTypes{margin-top:15px;}

/* Devices */

/*#device-list li a{display:block;width:180px;height:250px;margin:0 20px 20px 0;padding:10px;float:left;background:#FCFCFC;*//*border:1px solid #CCCCCC*//*}
#device-list li a img{width:180px;height:180px;}
#device-list li a span{width:100%;display:block;}*/

#device img{width:300px;height:300px;float:left;margin:0 30px 30px 0;}
#device dl{float:left;}

/* Additional Properties */

.additional-properties{margin-top:10px;}
.additional-properties input{margin-right:25px;}

/*Logging Menu*/
#logging-menu a{text-align:center}
#logging-menu a span{width:100%;display:block;font-size:100px;}

/* Gantt chart logger */
.gantt span.view-type {
    color: #fff;
    background-color: #ccc;
    padding: 1px 6px;
    border-radius: 3px;
    border: 1px #bbb solid;
}

/*Logger Configuration*/
#configuration-form textarea#description{width:350px;height:150px;}

/* FileTypes */
#conversion-workflow-list li, #conversion-workflows li{margin:5px;}
#conversion-workflow-list li h5, #conversion-workflows li h5{margin:0 0 10px 0;}
#conversion-workflow-list li p{font-size:11px;}
#conversion-workflow-list li .icomoon-checkmark{display:none;float:right;font-size:20px;line-height:84px;color:#FCFCFC;margin-right:10px;}
#conversion-workflow-list li.selected .icomoon-checkmark{display:block;}
#conversion-workflow-list li:hover, #add-workflow #conversion-workflow-list li.selected{background-color:#608fc9;color:#FCFCFC;}
#conversion-workflow-list li a.wf-thumbnail, #conversion-workflows li a.wf-thumbnail{display:block;float:left;margin:0 10px 0 0;}
#conversion-workflow-list li a.wf-thumbnail img, #conversion-workflows li a.wf-thumbnail img{width:125px;height:75px;}
#conversion-workflow-list li .wf-description, #conversion-workflows li .wf-description{height:55px;}

#conversion-workflow-list li h5 span, #conversion-workflows li h5 span{padding-left:5px;}

/* Logger Types */

#logger-sensors .remove-sensor{padding-right:5px;}
#logger-sensors .remove-sensor span{line-height:28px;}
#logger-sensors small.error {display: none !important;}


.invocationsIncreased, .invocationsDecreased{padding: 5px;border-style: solid;border-width: 1px;background-color: darkgreen;color: white;border-color: black;}
.invocationsDecreased{background-color:darkred;}



/* Panel CSS taken from Bootstrap 3 RC */
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-body:before,
.panel-body:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}
.panel-body:after {
    clear: both;
}
.panel > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
    border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel > .table {
    margin-bottom: 0;
}
.panel > .panel-body + .table {
    border-top: 1px solid #dddddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
}
.panel-title > a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    overflow: hidden;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
    border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}
.panel-default {
    border-color: #dddddd;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #dddddd;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}
.panel-primary {
    border-color: #428bca;
}
.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #428bca;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-success > .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}
.panel-warning {
    border-color: #fbeed5;
}
.panel-warning > .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fbeed5;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #fbeed5;
}
.panel-danger {
    border-color: #eed3d7;
}
.panel-danger > .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #eed3d7;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #eed3d7;
}
.panel-info {
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #bce8f1;
}

/* bootstrap-tags styles */
.bootstrap-tags.bootstrap-3 .tag a {
    margin: 0 0 0 .3em; }
.bootstrap-tags.bootstrap-3 .glyphicon-white {
    color: #fff; }

.bootstrap-tags.bootstrap-2 .tag.md {
    padding: .3em .4em .4em;
    margin: 5px 3px; }
.bootstrap-tags.bootstrap-2 .tag.lg {
    padding: .4em .4em .5em; }

.bootstrap-tags.bootstrap-2 .tag.btn {
    line-height: 14px;
}

.bootstrap-tags {
    position: relative; }
.bootstrap-tags .tags {
    width: inherit;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0; }
.bootstrap-tags .tag-data {
    display: none; }
.bootstrap-tags .tags-input {
    width: 100%;
    padding: 0;
    height: 2.7em;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box; }
.bootstrap-tags .tag-list {
    width: 280px;
    height: auto;
    min-height: 26px;
    left: 2px;
    top: 2px;
    position: relative; }
.bootstrap-tags .tag {
    padding: .4em .4em .4em;
    margin: 0 .1em;
    float: left; }
.bootstrap-tags .tag.sm {
    padding: .4em .4em .5em;
    font-size: 12px; }
.bootstrap-tags .tag.md {
    font-size: 14px; }
.bootstrap-tags .tag.lg {
    font-size: 18px;
    padding: .4em .4em .4em;
    margin: 0 .2em .2em 0; }
.bootstrap-tags .tag a {
    color: #bbb;
    cursor: pointer;
    opacity: .5; }
.bootstrap-tags .tag .remove {
    vertical-align: bottom;
    top: 0; }
.bootstrap-tags ul.tags-suggestion-list {
    width: 300px;
    height: auto;
    list-style: none;
    margin: 0;
    z-index: 2;
    max-height: 160px;
    overflow: scroll; }
.bootstrap-tags ul.tags-suggestion-list li.tags-suggestion {
    padding: 3px 20px;
    height: auto; }
.bootstrap-tags ul.tags-suggestion-list li.tags-suggestion-highlighted {
    color: white;
    text-decoration: none;
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0); }

.logger-type-list-item {
    background-color: #fff;
    margin-bottom: 40px;
    border: 1px solid #ccc;
}

.logger-type-list-item .make-model {
    padding: 0 20px;
    margin-bottom: 0;
}

.logger-type-list-item .make-model .model {
    color: #aaa;
    font-size: 0.9em;
}

ul.logger-type-actions {
    margin: 10px 10px 0 0;
}

.logger-type-list-item .fleet-availability-text {
    padding: 0 20px;
}

.logger-type-list-item .logger-type-action {
    text-align: center;
}

.logger-type-list-item .logger-type-action i{
    font-size: 16px
}

.fleet-availability {
    height: 10px !important;
    min-height: 10px !important;
    background-color: #ccc;
    /* margin: 30px 10px; */
    position: relative;
    /* border-radius: 5px; */
    overflow: hidden;
}

.fleet-availability > div {
    position: absolute;
    height: 100%;
}

.avail-bg {
    background-color: #328332;
    color: #fff;
}

.fleet-availability .loggers-available {
    background-color: #328332;
    height: 100%;
    transition: width ease 1s;
}

.fleet-availability .status-text {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.fleet-availability-control-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}