<h1>DataToProperties</h1>
<p>
    This block converts the input data into a properties connection that can
    be used to set properties on downstream blocks. It allows the user to 
    specify a column within the data containing the property names and a column
    containing the property values. These are set as string properties in the output
    connection
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data set containing the property name-value pairs</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>properties: Properties data connection</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>NamesColumn: Column in the input data containing the property names</li>
        <li>ValuesColumn: Column in the input data containing the property values</li>
    </ul>
</p>