<h1>InsertIntoExternalMongo</h1>
<p>
    Insert rows from a dataset into an external Mongo Database.  Does not yet support authenticated connections.  Will try to parse dates and store as Mongo Date
    format.
</p>
<p>
    Untested: if you have an _id column this will perform an update in Mongo.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>DataWrapper containing data to insert.</li>
    </ul>
</p>

<h2>Properties</h2>
<p>
    <ul>
        <li>Database connection details</li>
    </ul>
</p>