<div id="sensor-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="sensor-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="sensor-modal-label"></h3>
        <input type="hidden" id="uploaderID">
    </div>
    <div id="edit-sensor" style="display:none;">
        <form class="form-inline">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" name="sensorName" id="sensorName" placeholder="Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">File Type</label>
                    <div class="controls">
                        <input type="password" name="sensorFileType" id="sensorFileType" placeholder="File Type">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit-sensor" class="btn"></button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>
    <div id="delete-sensor" style="display:none;">
        <form class="form-inline">
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="submit" id="delete-sensors" class="btn"></button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var form = $( "#edit-sensor form" );
        form.validate({
            rules: {
                uploaduser: {required: true, maxlength: 255}}
        });

        $('#sensor-modal').on('hidden', function () {
            $( "#edit-sensor form")[0].reset();
        });

        $('#edit-sensor').on("click", "#submit-sensor", function (event) {

            event.preventDefault();

            if(form.valid())
            {
                var uploaduser = new Object();
                uploaduser.id = $("#uploaderID").val();
                uploaduser.username = $("#uploaderUsername").val();
                uploaduser.password = $("#uploaderPassword").val();

                var encodeduploaduser = JSON.stringify(uploaduser);

                $.ajax({
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    url: '/website-api/rest/study/uploader/save',
                    data: encodeduploaduser,
                    success: function (uploaduser) {

                        $('#sensors').dataTable().fnReloadAjax();

                        $("#sensor-modal").modal("hide");

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError);

                        var errorMessage = '<h2 class="text-error text-center">Error!</h2>' +
                                '<p class="text-center">' + thrownError + '</p>';

                        $('.modal-message').html(errorMessage);
                        $('.modal-content').css('display', 'none');
                        $('.modal-message').css('display', 'block');
                    }
                });
            }
            else
            {
                if($('#validation-message').length == 0)
                {
                    if($('.validation-message').length == 0)
                    {
                        var message = "Correct these errors to create this sensor group.";
                        var type = "error";
                        var target = $("#create-sensor .modal-body");
                        var cssClass = "validation-message";

                        flashMessage(message, type, target, cssClass)
                    }
                }
            }
        });

        $('#delete-sensor').on("click", "#delete-sensors", function (event) {

            event.preventDefault();

            $.each(deletions, function(key, uploaduser){

                $.ajax({
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    url: '/website-api/rest/study/uploader/' + uploaduser + '/delete',
                    success: function (data) {

                        $('#sensors').dataTable().fnReloadAjax();

                        $("#sensor-modal").modal("hide");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError);

                        if($('#validation-message').length == 0)
                        {
                            if($('.validation-message').length == 0)
                            {
                                var message = thrownError;
                                var type = "error";
                                var target = $("#delete-logger-message");
                                var cssClass = "validation-message";

                                flashMessage(message, type, target, cssClass)
                            }
                        }
                    }
                });

            });

        });
    });

</script>