/*TinyScrollBar*/
.sb li {
  list-style: none;
  width: 100%;
  padding: 2px;
  margin-left: 0px;
  z-index: 9999;
}

.sb {
  width: 220px;
  clear: both;
  margin: 5px 0 10px;
  border: 1px solid #AAAAAA;
  -moz-border-radius: 4px 4px 4px 4px;
  padding: 4px;
}

.sb .viewport {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.sb .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
}

.sb .scrollbar,
  .sb .thumb .end,
  .sb .thumb {
  background: transparent url('../../scripts/tinyscrollbar/bg-scrollbar.png') no-repeat;
}

.sb .scrollbar {
  position: relative;
  background-position: 0 0;
  float: right;
  width: 15px;
}

.sb .track {
  background: transparent url('../../scripts/tinyscrollbar/bg-scrollbar-end.png') no-repeat 0 100%;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}

.sb .thumb {
  background-position: 100% 100%;
  height: 20px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.sb .thumb .end {
  background-position: 100% 0;
  height: 5px;
  width: 13px;
}

.sb .disable {
  display: none;
}

