<h1>CSV Import</h1>
<p>
    This block reads a set of delimited text data into the workflow from the users
    home folder. Once in the workflow, this data can be passed to other blocks
    as a standard Data object. The blocks allows data to be either fully loaded into
    or imported as a subset. 
    
</p>

<h2>Block Outputs</h2>
<p>
    <ul>
        <li>imported-data: contains the parsed CSV data</li>
    </ul>
</p>
<h2>Block Properties</h2>
<p>
    <ul>
        <li>Source: Document to import</li>
        <li>StartRow: Beginning row of data to be imported</li>
        <li>LabelRow: Row containing column headings" default</li>
        <li>ContainsLabels: Does the data set contain a row with column names</li>
        <li>Delimiter: Column delimiter character</li>
        <li>EndRow: Last row of data to be imported</li>
        <li>LimitRows: Stop importing after the specified number of rows</li>
        <li>Subsample: Subsample the imported data</li>
        <li>SampleInterval: Subsampling row interval</li>
        <li>TextOnly: Treat all the data as String values</li>
    
    </ul>
</p>