<h1>Add Dataset Rows</h1>
<p>
    This block adds all of the input rows on the incoming data set to an 
    item within a dataset. This has the effect of copying the input
    data to the target dataset item. It works with Multiple row items and 
    builds up a table of data.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>dataset-item: A reference to the dataset item to append data to</li>
        <li>input-data: The data to be appended to the selected dataset item</li>
    </ul>
</p>
