<h1>Block Name</h1>
<p>
    Convert a file from the Proprietory XPS formats such as .avg into .vms
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>.avg file</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
    <li>HTTP Status code of the conversion</li>
    <li>.vms file</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>URL of the conversion server</li>
    </ul>
</p>