<h1>Add Sample Count</h1>
<p>
    This block copies the input data straight through, but places an additional
    column at the start of the data set containing a row number. 
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to have an index column added to it</li>
    </ul>
</p>
<h2>Outputs</h2>
<p>
    <ul>
        <li>output-data: A copy of the input data with an index column at the beginning</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    This block has no properties
</p>