<h1>Block Name</h1>
<p>
    This block attached metadata contained as name-value pairs in a data-set
    to a set of file references. This block will attempt to set metadata as numerical
    values first and then, failing that it will set values as text.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>metadata-values: Dataset containing a column of metadata names and a column of metadata values</li>
        <li>file-references: A list of file references that will have metadata attached to them</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>file-references: A copy of the input file references for downstream use</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Category: Category that the new metadata will be attached to</li>
        <li>NamesColumn: Specifies the column in the input data set that contains the metadata names</li>
        <li>ValuesColumn: Specifies the column in the input data that contains the metadata vales</li>
    </ul>
</p>