<h1>Scale Data</h1>
<p>
    This block scales all of the numerical columns in the input-data connection
    to unit variance by subtracting the mean of each column and then dividing
    the results by the standard deviation of each column. This can make the
    data more suited to various statistical and modelling algorithms particularly
    when the columns in input-data contain information measured in a different
    variety of units.
</p>
<p>
    This block also outputs the scaling parameters calculated for the input-data
    on the second output (scaling-parameters). These can be used to perform the
    same scaling on new data sets or to unscale scaled data back to its original
    range.
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to be scaled</li>
    </ul>
</p>
<h2>Outputs</h2>
<p>
    <ul>
        <li>scaled-data: Scaled copy of the input data set</li>
        <li>scaling-parameters: Object containing the scaling parameters calculated for the input data set</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    This block has no additional properties
</p>