<h1>ABS</h1>
<p>
    This column takes the absolute value of all of the values in the numerical
    columns in the input data. Any non-numerical columns are passed through 
    unchanged.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to be converted</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>abs: Data with absolute values</li>
    </ul>
</p>
