<h1>UballDataGenerator</h1>
<p>
   This block generates data for testing function approximation (non-linear regression modelling)
   of the <em>D</em> dimensional "Unwrapped ball" function. This is a very non-linear function and is "tunably difficult" to solve using the <em>D</em> parameter.
   I.e. the larger the value of <em>D</em>, the harder it is to model. 
</p>  

<p>For input dimension <em>D</em> this block generates <em>N</em> data points (rows) comprising (<em>D</em> + 1) columns of data. The final column contains the function output <em>y</em>.
</p>

<p>The function is deterministic (non-noisy) but each time a set of data is created using this block random input values (uniformly distributed between the <em>MinValue</em> and <em>MaxValue</em> parameters) are generated.
</p>

<p>The function is <em>y = f(x<sub>1</sub>, ..., x<sub>D</sub>) = 10/(5 + (x<sub>1</sub> - 3)<sup>2</sup> + ... + (x<sub>D</sub> - 3)<sup>2</sup>)</em></p>

<p>Remarks:
   The 5D version was proposed as a "standardised" symbolic regression benchmark ("Vladislavleva-4") in White et al., 'Better GP benchmarks:  community survey results and proposals', Genet. Program Evolvable Mach. 
   (2013) (Table 4). 
</p>

<p>Author: Dominic Searson 2013
</p>

<h2>Inputs</h2>

<p>
    <ul>
        <li>This block has no inputs.</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>A workflow data object containing the <em>x</em> data in columns 1, ... , <em>D</em> and the function output <em>y</em> data in the (<em>D</em> + 1th) column.</li>
    </ul>
</p>

<h2>Properties</h2>

<p>
    <ul>
        <li><em>NumData</em> : The number of data points <em>N</em> (rows of data) you want to generate (default = 500)</li>
        <li><em>Dimension</em> : The 'size' <em>D</em> of the input space, i.e. the number of columns of input (<em>x</em>) data you want to generate (default = 5)</li>
        <li><em>MinValue</em> : The minimum value of any generated input value (default = 0.05)</li>
        <li><em>MaxValue</em> : The maximum value of any generated input value (default = 6.0)</li>
    </ul>
</p>

