/*CSS for the Tabs in a dialog*/
.ui-dialog .acl {
  padding: 0;
}

.acl .ui-tabs {
  padding: 0;
}

.acl .ui-tabs .ui-tabs-nav li.aclTab {
  width: 289px;
}

.acl .ui-tabs .ui-tabs-nav li.aclTab a {
  width: 262px;
  text-align: center;
}

/*Helps to fix the rendering of the scrollbars on the advanced tab*/
.acl .ui-tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px;
}

/* Our CSS for the ACL lists*/
.acl_info {
  border: none;
}

.acl_content {
  height: 297px;
}

.orange {
  color: #DE4c27;
}

.blue {
  background: #e2f0ff;
}

.aclOption {
  padding: 25px;
}

.basic_acl {
  margin-top: 30px;
}

.advanced_acl {
  padding-bottom: 0;
}

.advanced_acl_group_wrapper {
  display: inline-block;
  width: 100%
}

.advanced_acl_left {
  width: 250px;
  float: left;
}

.advanced_acl_left ul {
  margin-bottom: 0;
}

.advanced_acl_right {
  width: 260px;
  float: right;
}

.advancedAclHint {
  margin-top: 10px;
}

.permsRow, .permsName, .permsRead, .permsWrite, .permsHead {
  display: inline-block;
  height: 25px;
}

.permsHead {
  background-color: #DDDDDD;
}

.permsHead .permsName {
  padding-top: 7px;
}

.permsHead .permsRead, .permsHead .permsWrite {
  padding-top: 5px;
}

.permsName {
  float: left;
  width: 145px;
  overflow: hidden;
  padding: 5px 0 0 5px;
  white-space: pre;
}

.permsRead, .permsWrite {
  float: right;
  width: 40px;
  text-align: center;
  margin-top: 2px;
}

.permsPeople .ui-selected,
  .permsGroups .ui-selected,
  .permsCurrent .ui-selected {
  background: #DE4c27;
  color: white;
}

.permsPeople .ui-selecting,
  .permsGroups .ui-selecting,
  .permsCurrent .ui-selecting {
  background: #DE4c27;
}

.longscrollbar {
  width: 250px;
}

.longscrollbar .viewport {
  width: 230px;
  height: 210px
}

.permsPeople li, .permsGroups li, .permsCurrent .permsRow {
  cursor: pointer;
}

.currentPublic {
  padding-top: 10px;
}

.currentPublic div {
  display: inline;
  padding-right: 50px;
}
