<h1>Shuffle Data</h1>
<p>
    This block randomly re-orders the rows in the input data. By default, each
    time this block is executed a different random number generator seed is selected
    using the system clock. This will produce different results for each invocation.
    If the same "randomisation" is required for each invocation a fixed random
    number generator seed can be specified.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data set that will be randomly re-ordered</li>
    </ul>
</p>
<h2>Outputs</h2>
<p>
    <ul>
        <li>shuffled-data: Randomly re-ordered copy of the input data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>FixedSeed: Specifies whether a fixed random number generator seed will be used. This
        gives the same re-ordering each time</li>
        <li>Seed: The value of the random number generator seed to use. This will only be used if
        FixedSeed is set to "true"</li>
    </ul>
</p>