<h1>Column Select</h1>
<p>
    This block extracts the specified columns from the input data set
    and places them onto the "selected-data" output connection. The
    remaining unselected columns are placed onto the "remaining-data"
    connection. Columns are specified using the "ColumnList" property.
    To specify a column by name, add its name in the editor for the
    ColumnList property. To specify a column by index, add an #index
    entry to the ColumnList property (where index is the number of the
    column to select, bearing in mind that selections start at 0 - i.e.
    the first column in a data set has an index of 0).
</p>
<h2>Inputs</h2>
<p>
    input-data: The complete data set from which columns will be extracted
</p>
<h2>Outputs</h2>
<p>
    selected-columns: A new set of data containing the columns specified in the ColumnList property
    remaining-columns: A new set of data containing any columns not specified in the ColumnList property
</p>
<h2>Properties</h2>
<p>
    ColumnList: A list of columns to select entered as either a column name or by index using #index
</p>