<h1>DataReport</h1>
<p>
    This block creates a basic .pdf summary report for the input data. For
    numerical columns it plots a distribution of the data and a trend plot
    of the data itself along with a summary of the most correlated numerical
    columns contained in the data set and a table with some basic summary stats.
    For text columns it produces a pie chart breaking down the distribution of 
    the various unique text values.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to be summarized</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>report: PDF file containing the summary report</li>
    </ul>
</p>
