/* 
    Document   : report.css
    Created on : Oct 29, 2013, 1:08:30 PM
    Author     : hugo, Dominic
    Description:
        Stylesheet for formatting output from Weka ModelReport block.
*/

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

pre {
     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
     font-size: 11pt; 
     color: black;
}

h1 {
    font-size: 14pt;
    text-align: left;
    color: #003366;
}

h2 {
    color: #003366;
    font-size: 12pt;
    text-align: left;
}
.break { 
    page-break-before: always;
}

.regressiontable {
    font-size: 10px;
}

p {font-size: 11pt; 
   color: black;
   text-align: left;
}

img.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.warning {color: #993300;}