<h1>Block Name</h1>
<p>
    Convert from a Genea binary file to a CSV format.  Currently does not include headers as the 85+ study has different ones.
    Also currently does not include the timestamp correctly.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>Genea File</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>CSV File</li>
    </ul>
</p>
