<h1>Block Name</h1>
<p>
    Convert a file from the Vamas format into R Text format
</p>
<h2>Inputs</h2>
<p>
<ul>
    <li>.vms file</li>
</ul>
</p>

<h2>Outputs</h2>
<p>
<ul>
    <li>HTTP Status code of the conversion</li>
    <li>.r file</li>
</ul>
</p>
<h2>Properties</h2>
<p>
<ul>
    <li>URL of the conversion server</li>
</ul>
</p>