<h1>Workflow Per Invocation</h1>
<p>Executes a workflow instance for every input invocation id allowing a chain of sub-workflows to be executed. 
The block can pass the folder of the input invocation id so that the sub-workflow can import the folder and use files produced by the input workflow invocation.
Additionally, <code>Workflow Per Invocation</code> can set block properties according to data provided through the <code>property-data</code> input port. 
invocations to be  file provided and sets block properties according to data provided through the property-data input port.
The data may be empty (to disable setting block properties) but if it is non-empty, the number of rows must be equal to the number of input invocation ids.</p>

<p>Depending on the value of property <code>DataStructure</code>, the property data should be formatted as follows:</p>
<dl>
    <dt>ONE_COLUMN_MODE</dt>
        <dd>Each column refers to a single block property and must have form: &lt;BlockName&gt;.&lt;PropertyName&gt;=&lt;PropertyValue&gt;</dd>
    <dt>TWO_COLUMN_MODE</dt>
        <dd>Two colums are used to set a single block property. The first column must have form: &lt;BlockName&gt;.&lt;PropertyName&gt;, whereas the second contains the property value.</dd>
    <dt>THREE_COLUMN_MODE</dt><dd>
        <dd>Three columns are used to set a single block property. The first denotes the block name, the second property name and the third property value.</dd> 
</dl>

<h2>Inputs</h2>
<dl>
    <dt>property-data</dt>
        <dd>A table of data where each row includes block names, property names and values to be in selected blocks in the sub-workflow. The input may be empty or the number of rows must be equal to the number of the input invocation ids.</dd>
    <dt>invocation-ids</dt>
        <dd>A column of workflow invocation ids. For each invocation id from this set a corresponding sub-workflow will be executed.</dd>
</dl>


<h2>Outputs</h2>
<dl>
    <dt>invocation-ids</dt>
        <dd>A list of invocation-ids of the executed sub-workflows.</dd>
</dl>

<h2>Properties</h2>
<dl>
    <dt>WorkflowFile [Required]</dt>
        <dd>A document file of the sub-workflow that is going to be executed.</dd>
    <dt>TransferFiles</dt>
        <dd>If set, reference to the folder of an input workflow invocation is passed to the corresponding sub-workflow.
        This allows the sub-workflow to import that folder (using block <code>Import Directory</code>) and access files produced by the input invocation.</dd>
    <dt>TargetBlockName</dt>
        <dd>Name of the block in the target workflow to send an invocation folder reference to. Typically, it is <code>Import Directory</code> block.</dd>
    <dt>TargetPropertyName</dt>
        <dd>Name of the property in the target block to assign the invocation folder reference to. Typically, it is <code>SourceFolder</code>. The property must be of type <code>Folder</code>.</dd>
    <dt>DataStructure</dt>
        <dd>The structure of the property data provided. In the one column mode each column should be in form of 'BlockName.PropertyName=PropertyValue'; in the two column mode, the first column should have form 'BlockName.PropertyName' and the second one should include the property value; in the three column mode, the first includes the block name, the second property name and the third property value."</dd>
    <dt>WaitForWorkflow</dt>
        <dd>If set the block will wait until the target sub-workflow completes. Otherwise, it executes the sub-workflow and allows following blocks in this workflow to execute.</dd>
    <dt>PauseForFailedWorkflows</dt>
        <dd>Should execution pause if there are failed subworkflows</dd>
    <dt>AllowFailedWorkflows</dt>
        <dd>Should execution proceed if there are any failed subworkflows</dd>
    <dt>FailOnEmpty</dt>
        <dd>Whether this block should fail if no invocation ids has been provided.</dd>
</dl>
